alias ls='ls --color=auto'
alias diff='diff --color=auto'
alias grep='grep --color=auto'
alias cp='nocorrect cp -v'
alias mv='nocorrect mv -v'
alias rm='nocorrect rm -v'
alias git='nocorrect git'
alias -s {epub,pdf,djvu}='xreader'
alias mpv='prime-run mpv'
alias steam='LANG=ru_RU.UTF-8 steam'
alias code='code-oss'
alias fzf-pkg-inst="pacman -Slq | fzf --multi --preview 'pacman -Si {1}' | xargs -ro sudo pacman -Sy"
alias fzf-pkg-rm="pacman -Qq | fzf --multi --preview 'pacman -Qi {1}' | xargs -ro sudo pacman -Rns"
alias more='bat -pp'
