alias ls='ls --color=auto'
alias l='ls -lh'
alias -s {epub,pdf,djvu}='xreader'
alias mpv='prime-run mpv'
alias cp='nocorrect cp -v'
alias mv='nocorrect mv -v'
alias rm='nocorrect rm -v'
alias steam='LANG=ru_RU.UTF-8 steam'
alias diff='diff --color=auto'
alias grep='grep --color=auto'
alias gr='go run'
alias dfhack='cd ~/.dwarffortress; ./dfhack; cd -'
alias d2r='prime-run bash ~/Games/D2R-BattleNet/start.sh'
alias code='code-oss'
alias dtf='/usr/bin/git --git-dir=$HOME/Documents/Code/GitHub/dotfiles/ --work-tree=$HOME'
