# Ignore everything by default.
/**

# Git
!.gitconfig
!.gitignore
!.gitmodules

# xinit
!.xinitrc
!.Xresources

# Zsh
!.zshrc
!.zshenv
!.zprofile
!.aliases
!.dir_colors

# config
!.config/
!.config/alacritty/
!.config/alacritty/*
!.config/awesome/
!.config/awesome/**/*
!.config/fontconfig/
!.config/fontconfig/**/*
!.config/mpd/
!.config/mpd/mpd.conf
!.config/mpv/
!.config/mpv/**/*
!.config/picom/
!.config/picom/picom.conf
!.config/pulse/
!.config/pulse/default.pa
!.config/redshift/
!.config/redshift/**/*
!.config/systemd/
!.config/systemd/**/*
!.config/tmux/
!.config/tmux/tmux.conf
.config/awesome/themes/nordish/bg.jpg
.config/mpv/watch_later/
.config/systemd/user/default.target.wants/
.config/tmux/logging/
.config/tmux/plugins/

# GTK
!.gtkrc-2.0
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini

# scripts
!.local
!.local/opt/
!.local/opt/tmux-sessionizer/
!.local/opt/tmux-sessionizer/tsm.sh

